{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Turn Camera {% endblock %}</h1>

    <form method="POST" action="/">
        {{ form.csrf_token }}


        <p>
            {{ form.direction.label }}
            {{ form.direction }}
            
        </p>


<p>
    {{ form.bearing.label }}
    {{ form.bearing }}
</p>

<p>
	{{ form.ordinate.label }}
	{{ form.ordinate }}
</p>


        <p>
            <input type="submit" value="Turn">
        </p>
    </form>

{% endblock %}